// Dropdown Nav
@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
 }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  85% {
    opacity: 0.9;
    transform: translateX(2%);
 }
  100% {
    opacity: 1;
    transform: translateX(0);
 }
}

// Burger Nav 

@keyframes burger {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
}

// Landing 
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }
  85% {
    opacity: 1;
    transform: translateX(-2rem);
 }
  100% {
    opacity: 1;
    transform: translateX(0);
 }
}


@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  85% {
    opacity: 1;
    transform: translateY(-0.5rem);
 }
  100% {
    opacity: 1;
    transform: translateX(0);
 }
}
