.btn {

  &:link,
  &:visited {
    display: inline-block;
    color: $color-black;
    font-size: $font-size-default;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem; 
    border-radius: 10rem;
    background-color: red;
  }
}
  