header {
  height: 8rem;
  background-color: transparent;
  color: $color-black;
  font-size: 2.2rem;
}

.nav {
  height: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: relative;
    
    @media only screen and (min-width: $breakpoint-medium){
      width: 80%;
      margin: 0% auto;
    }

  &__logo {
    margin-left: 3%;
    font-size: 5rem;
  }

  &__list {
    display: none;
            
    @media only screen and (min-width: $breakpoint-medium){
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 100%;
    } 

    &--mobile {
      list-style-type: none;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 1),
        rgba($color-secondary, 1),
        rgba($color-tertiary, 1));
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: fixed;
      top: 0;
      height: 100%;
      animation: dropDown 0.5s ease-out;
      padding-top: 28rem; 
      font-size: 4rem;

        @media only screen and (max-height: 670px) {
          padding-top: 22rem; 
        }
                          
        @media only screen and (min-width: $breakpoint-medium){
          position: absolute;
          right:0;
          background-image: none;
          max-width: 70%;          
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-top: 0;
          padding-top: 0;
          height: 100%;
          font-size: 2rem
        }
    }
  }

  &__item {
    display: flex;
    text-align: center;
            
      @media only screen and (min-width: $breakpoint-medium){
      margin-left: 1.5rem;
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
    width: 100vw;
    padding: 0 1rem;
    transition: all 200ms ease-in-out;

    @media only screen and (min-width: $breakpoint-medium){
      width: 100%;
      display: flex;
      align-items: center;
      
    }
    
    &:hover {
      background-color: $color-primary;
      transform: scale(1.15);
    }
       
      &--logo {
        text-decoration: none;
        color: black; 
      }
  }

  &__toggler {
    display: block;
    cursor: pointer;
    padding: 1.5rem 4rem 1.5rem 0rem;
    height: 4rem;
    width: 5rem;
    text-decoration: none;
    margin-right: 4%;
    z-index: 1;
           
      @media only screen and (min-width: $breakpoint-medium){
        display: none;
      }      
  }

  &__burger {
    content: '';
    position: absolute;
    height: 1rem;
    width: 5rem;
    background-color: $color-black;
    
      &::before {
        content: '';
        position: absolute;
        height: 1rem;
        width: 5rem;
        background-color: $color-black;
        top: -2rem;
        transition: all 250ms ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        height: 1rem;
        width: 5rem;
        background-color: $color-black;
        bottom: -2rem;
        transition: all 250ms ease-in-out;
      }
  }

  &__burger--active {
    background-color: transparent;
    animation: burger 400ms forwards;
    &::before, &::after {
      top: 0;
    }

    &::before {
      transform: rotate(45deg)
    }

    &::after {
      transform: rotate(-45deg)
    }      
  }
}
