header {
  height: $header-height;
  width: 100%;
  background-color:transparent;
  position: fixed;
  top: 0;
  color: $color-logo;
  font-size: 2.2rem;
  z-index: 5;
}

.nav {
  position: fixed;
  top: 0;
  height: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: relative;
     
    @media only screen and (min-width: $breakpoint-medium){
      width: 80%;
      margin: 0% auto;
    }

  &__logo {
    height: calc(0.75*#{$header-height});
    padding-left: 1.5rem; 
    padding-top: 0.25rem;    
  }

  &__logo-text {
    letter-spacing: 0.3rem;
    padding-left: 0.65rem;
    font-weight: 400;
    color: $color-logo;
    font-size: calc(0.22*#{$header-height});
  }
  
  &__list {
    display: none;
              
    @media only screen and (min-width: $breakpoint-medium){
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 100%;
    } 

    &--mobile {
      list-style-type: none;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 1),
        rgba($color-secondary, 1),
        rgba($color-tertiary, 1));
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: fixed;
      top: 0;
      height: 100%;
      animation: dropDown 600ms ease-in-out;
      padding-top: 27rem; 
      font-size: 3rem;
      
            
        @media only screen and (max-height: 670px) {
          padding-top: 22rem; 
        }
                          
        @media only screen and (min-width: $breakpoint-medium){
          position: absolute;
          right:0;
          background-image: none;
          max-width: 70%;          
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-top: 0;
          padding-top: 0;
          height: 100%;
          font-size: 2rem
        }
    }
  }

  &__item {
    display: flex;
    text-align: center;
            
      @media only screen and (min-width: $breakpoint-medium){
      margin-left: 1.5rem;
      height: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-text-nav;
    width: 100vw;
    padding: 0 1rem;
    animation: moveInLeft 900ms ease-in-out;
    transition: all 200ms ease-in-out;

    @media only screen and (min-width: $breakpoint-medium){
      width: 100%;
      display: flex;
      align-items: center;
    }
    
    &:hover {
      background-color: $color-primary;
      transform: scale(1.15);
    }
      &--logo {
        height: $header-height;
        text-decoration: none;
        color: black; 
        display: flex;
        align-items: center;
        z-index: 10;
      }
  }

  &__toggler {
    display: block;
    cursor: pointer;
    padding: 1.1rem 4rem 1.5rem 0rem;
    height: $burger-line-height;
    width: $burger-line-width;
    text-decoration: none;
    margin-right: 4%;
                   
      @media only screen and (min-width: $breakpoint-medium){
        display: none;
      }      
  }

  &__burger {
    content: '';
    position: absolute;
    height: $burger-line-height;
    width: $burger-line-width;
    background-color: $color-logo;
        
      &::before {
        content: '';
        position: absolute;
        height: $burger-line-height;
        width: $burger-line-width;
        background-color: $color-logo;
        top: -1.1rem;
        transition: all 275ms ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        height: $burger-line-height;
        width: $burger-line-width;
        background-color: $color-logo;
        bottom: -1.1rem;
        transition: all 275ms ease-in-out;
      }
  }

  &__burger--active {
    background-color: transparent;
    animation: burger 400ms forwards;
    &::before, &::after {
      top: 0;
    }
    &::before {
      transform: rotate(45deg)
    }
    &::after {
      transform: rotate(-45deg)
    }      
  }
}
