//BREAKPOINTS
$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

//COLORS
$color-primary: rgb(219, 225, 228);
$color-secondary:  rgb(191, 195, 199);
$color-tertiary:  rgb(170, 174, 180);

$color-white: #fff;
$color-black: #000;

//FONTS
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;

//NAVIGATION
// $header-height: 10rem;










