//BREAKPOINTS
$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

//BURGER
$burger-line-height: .4rem;
$burger-line-width: 4.5rem;

//COLORS
$color-primary: rgb(238, 238, 238);
$color-secondary:  rgb(191, 195, 199);
$color-tertiary:  rgb(170, 174, 180);

$color-white: #fff;
$color-black: #2e3135;
$color-text-nav: rgb(42, 44, 44);

//FONTS
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-size-default: 1.6rem;

//NAVIGATION
$header-height: 12vh;

//LOGO
$color-logo: #324050;










