//BREAKPOINTS
$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

//COLORS
$color-primary: rgb(183, 184, 185);
$color-secondary:  rgb(142, 142, 143);
$color-tertiary:  rgb(113, 113, 114);

$color-white: #fff;
$color-black: #000;

//FONTS
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;

//NAVIGATION
$header-height: 15rem;










